body{
    background-color:rgb(68, 60, 60);
    width: 100%;
      
}



.relacao{
    display: flex;
    max-width: 450px;
    border-radius: 45px;
    
     
}
footer {
    width: 450px;
    display: flex;
    justify-content: space-around;
    background-color: blue;

}
h1{

    font-size: 20px;
    color: white;
}

.Home img{
   height: 100%;
   width: 450px;
}

.relacao img{
    width: 450px;
    border-radius: 45px;
    margin-left: 25px;

}



.bolinhas{
    max-width: 100%;
    margin-top: 3px;
    background-color: rgb(114, 107, 105);;
    display: flex;
    align-items: center;
    justify-content: center;    
    
}

.icones{
    margin-right: 50px;

}

.gmail{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 165px;
}
