body {

    background: rgb(97, 90, 87);
}

.CadastroEmpresa h1{
    text-align: center;
    font-size: 30px;
    margin-top: 3px;

}

.CadastroEmpresa h2{
    text-align: center;
    font-size: 40px;
    margin-top: 2px;
}

.barrinhas{
    
    display: flex;
    justify-content: space-around; 
    flex-direction: column;
    align-items: center;
    
    

}
input{
    margin-bottom: 10px;
    background: none;
    text-align: center;
    border:none;
    border-bottom: 2px solid black;
}


button{
    display: flex;
    flex-direction: center;  
    border-radius: 25px;
    width: 100px;
    height:30px; 
    align-items: center;
    justify-content: center;
     
}

#trazB{
    display: flex;
    flex-direction: center;
    justify-content: center;

    
}


